html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: hsl(46, 100%, 80%);
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  /* background-color: #0077be; */
  background-color: grey;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  /* cursor: pointer; */
}

.home-button a {
  color: #fff;
  text-decoration: none;
}


th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

th {
  background-color: #f2f2f2;
}

td table {
  border-collapse: collapse;
  width: 100%;
}

td table td {
  border: none;
  padding: 0;
}

