* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;
    margin-top: 40px;
    padding: 40px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    /* background-color: #0077be; */
    background-color: grey;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    /* cursor: pointer; */
  }
  
  .home-button a {
    color: #fff;
    text-decoration: none;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="tel"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 20px;
    max-width: 250px;
  }
  
  input[type="text"]:focus,
  input[type="tel"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0077ff;
  }
  
  #map {
    height: 500px;
    width: 90%;
  }
  
  button {
    display: block;
    padding: 10px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
  }
  
  button:hover {
    background-color: #005ea6;
  }
  
  #confirmation {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  #confirmation h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #confirmation p {
    margin-bottom: 10px;
  }
  
  #confirmation strong {
    font-weight: bold;
  }
  