html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    /* background-color: yellow; */
    /* background-color: #ffeeb2; */
    background-color: hsl(46, 100%, 80%);

}

.container {
    display: flex;
    height: 100%;
}

.map {
    flex: 1;
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 800px;
    /* change this value to adjust the width of the column */
    height: 100%;
}
    
button {
    font-size: 16px;
    padding: 10px;
    /* background-color: hsl(325, 72%, 72%); */
    background-color: grey;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    vertical-align: top;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td table {
    border-collapse: collapse;
    width: 100%;
    height:auto;
    margin:0;
    padding:0;
  }
  
  td table td {
    border: none;
    padding: 0;
  }

  .home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    /* background-color: #0077be; */
    background-color: grey;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .home-button a {
    color: #fff;
    text-decoration: none;
  }
  
