<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       body{
        background-color: hsl(46, 100%, 80%);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        
        text-align: left;
        text-align:justify;
       }
       p{
        margin-bottom: 10px;
        line-height: 1.5;
       }
    </style>
</head>
<body>
    <p>
        ProjectXYZ is an automated easy to use real estate website that uses google's earth engine to populate listings with satellite data in order for prospective buyers to make better informed decisions and explore opportunities in distant lands! Just plot out your property from the comfort of your home or by walking through its periphery, and watch it get populated with parameters like population density, average rainfall, average temperature, soil organic content, average cloud cover and much much more including onground data collected from locals that also lets you discover one of its parameter’s percentile in comparison to the vicinity, district, state, country or even the world as we scale up. 
      <br>
      <br>
        Not interested in selling unless you get a very good price for it? No problem, list your property accordingly and get recommendations towards how it can be used to generate value through options like leasing it out, planting trees and the value they can generate as a function of time etc. –instantaneously on your screen and entirely without human interaction.    
    </p>

    <p style="margin-top: 100px;">Try it now!</p>
      <div id="buttons-container" style=" margin-top: 80px;">
        <p style="font-size: 15px;"><a href="/coordinates">Enter Point Coordinates</a></p>
        <p><a href="/map">Select on Map</a></p>
        <p><a href="/diagonal-coordinates">Enter boundary coordinates/Walk across periphery of the land(Mobile app) </a></p>
        <p><a href="/form">Enter details</a></p>
      </div>

      <div id="bottom" style="position:relative; margin-top:155px;">
        <p style=" margin: 0px; padding: 0px;"><b>Footnote:</b>
          <br>
        Website/mobile app is in very early stages, please do not share unnecessarily.
        <br>
        <br>
        projectxyz is a cog in a larger overarching idea, and will be listed as a non-profit in order for the parent organization to open up this wing’s true potential, ranging from opportunities for city dwellers to interact with and experience the countryside to agrivoltaics and reforestation of abused forests etc.
        <br>
        Trees are life. Just go out on a highway and picture what life would be like living in a home on a barren piece of land and how different the same house would be if it had trees surrounding it.
      </p>
      </div> 

</body>
</html>